.env
test-coverage.out

# Don't check in the binary.
/bskyweb

# Don't accidentally commit JS-generated code
static/js/*.js
static/js/*.map
static/js/*.js.LICENSE.txt
static/js/empty.txt
static/css/*.css
static/css/*.map
static/css/*.css.LICENSE.txt
static/css/empty.txt
static/media/*.png
static/media/empty.txt
templates/scripts.html
templates/*-embed.html

# Don't ignore this file
!.gitignore
